*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color: hsl(0, 0%, 95%);
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    min-height: 580px;
    overflow: hidden;
    box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.616);
}

#header{
    margin-bottom: -10px;
    display: flex;
}

#header h1 {
    font-family: 'Great Vibes';
    margin: 13px 0 0 20px;
    color: rgba(192, 163, 0, 0.904);
    text-shadow: 2px 2.5px 3px rgb(112, 95, 0), 1px 1px 3px rgb(0, 0, 0);
}

#display-div{
    width: 390px;
    height: 100px;
    background-color: hsl(0, 0%, 20%);
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: right;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    pointer-events: none;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

#plus{
    height: 200px;
}

.firstRow{
    background-color: rgb(146, 65, 65);
}

.firstRow:hover{
    background-color: rgb(145, 80, 80);
}

.firstRow:active{
    background-color: rgb(139, 97, 97);
}

.lastRow{
    transform: translateY(-100px);
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.operator-btn{
    background-color: rgb(252, 165, 5);
}

.operator-btn:hover{
    background-color: rgb(247, 183, 65);
}

.operator-btn:active{
    background-color: rgb(250, 204, 120);
}

.slide-switch {
    margin-top: 5px;
    position: relative;
    top: 10px;
    left: 85px; 
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .slide-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
    box-shadow: 1px 1px 5px 1px rgba(160, 157, 0, 0.445);
  }

  .key {
    box-shadow: -2px -2px 3px 2px rgba(68, 68, 68, 0.788);
  }

  .key:active{
    transform: scale(0.98) translate(-2px, -1px);
  }

  .lastRow:active{
    transform: translate(-3px, -81px);
  }
  
  .slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    
    background-color: #4CAF50;
  }
  
  input:checked + .slider::before {
    transform: translateX(26px);
  }

@media (max-width: 720px){
    #calculator{
        max-width: 380px;
        height: 525px;
        overflow: hidden;
    }
    #display{
        font-size: 2.5rem;;
    }
    button{
        width: 70px;
        height: 70px;
        border-radius: 35px;
        font-size: 2.2rem;
    }
    #plus{
        height: 150px;
    }
    .lastRow{
        transform: translateY(-80px);
}
}

@media (max-width: 375px){
    #calculator{
        min-width: 375px;
        height: 470px;
        overflow: hidden;
    }
    #display-div{
        max-width: 375px;
    }
}

@media (max-width: 320px){
    #calculator{
        min-width: 320px;
        min-height: 525px;
        overflow: hidden;
    }
    .slide-switch{
        left: 32px;
    }
    #display-div{
        max-width: 320px;
    }
    #display{
        font-size: 2rem;;
    }
    button{
        width: 60px;
        height: 60px;
        border-radius: 35px;
        font-size: 2.2rem;
    }
    #plus{
        height: 130px;
    }
    .lastRow{
        transform: translateY(-70px);
}
}
